* {
   margin: 0;
   padding: 0;
   border: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

html {
   height: 100%;
}

body {
   background: #3D3D4B;
   height: 100%;
   font-size: 16px;
   line-height: 24px;
}

.container {
   padding: 0 20px;
   max-width: 1140px;
   width: 100%;
   margin: 0 auto;
   height: 100%;
}

header {
   height: 100%;
}

.header {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   height: 100%;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.logo_with_text {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-bottom: 50px;
}

.logo_with_text .logo {
   -webkit-animation: 0.8s ease-in 0s logo;
   animation: 0.8s ease-in 0s logo;
   margin-right: 41px;
}

.logo_with_text .text {
   -webkit-animation: 0.8s ease-in 0s open;
   animation: 0.8s ease-in 0s open;
   overflow: hidden;
   width: 100%;
}

.header_description {
   max-width: 475px;
   text-align: center;
   color: #B3B3B5;
   overflow: hidden;
   position: relative;
   opacity: 0;
   margin-bottom: 70px;
}

.header_description p {
   -webkit-animation: 2s ease-in 2s header_description;
   animation: 2s ease-in 2s header_description;
   position: relative;
}

.try_it {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 10px;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   background: #5790FF;
   border-radius: 100px;
   padding: 16px 44px;
   color: #fff;
   -webkit-transition: -webkit-box-shadow .5s;
   transition: -webkit-box-shadow .5s;
   -o-transition: box-shadow .5s;
   transition: box-shadow .5s;
   transition: box-shadow .5s, -webkit-box-shadow .5s;
   cursor: pointer;
   overflow: hidden;
   -webkit-animation: 2s ease-in 3s try_it;
   animation: 2s ease-in 3s try_it;
   opacity: 0;
}

.try_it span {
   font-weight: 600;
}

.try_it:hover {
   -webkit-box-shadow: 0 0 10px #5790FF;
   box-shadow: 0 0 10px #5790FF;
}

.hidden {
   display: none;
}

@-webkit-keyframes open {
   from {
      width: 0
   }
}

@keyframes open {
   from {
      width: 0
   }
}

@-webkit-keyframes logo {
   from {
      -webkit-transform: scale(3);
      transform: scale(3)
   }
}

@keyframes logo {
   from {
      -webkit-transform: scale(3);
      transform: scale(3)
   }
}

@-webkit-keyframes header_description2 {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes header_description2 {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@-webkit-keyframes header_description {
   from {
      bottom: -100px;
   }

   to {
      bottom: 0;
   }
}

@keyframes header_description {
   from {
      bottom: -100px;
   }

   to {
      bottom: 0;
   }
}


@-webkit-keyframes try_it {
   from {
      opacity: 0;
   }
}


@keyframes try_it {
   from {
      opacity: 0;
   }
}

@media screen and (max-width: 500px) {
   .logo_with_text {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }

   .logo_with_text .logo {
      margin-right: 0;
      padding-bottom: 41px;
   }

   .logo_with_text .text {
      -webkit-animation: 0.8s ease-in 0s open;
      animation: 0.8s ease-in 0s open;
   }

   .header_description p {
      -webkit-animation: 1s ease-in 1.5s header_description;
      animation: 1s ease-in 1.5s header_description;
   }

   .try_it {
      -webkit-animation: 2s ease-in 2s try_it;
      animation: 2s ease-in 2s try_it;
   }
}